<!--<p [style]="titleStyle">this is home page</p>
<button (click)="show()">change to red</button>
<button (click)="hidden()">change to green</button>
 <p [style.color]="title2Style">Welcom</p>
<p>My name is {{ profile.FirstName }} {{ profile.LastName }}</p>
<p>my website is {{ profile.website }}</p>
<p>I am from {{ profile.country }}</p>
<p>{{ profile.age }}</p>
<img [src]="linkImage" width="150px" height="150px" />
<a [href]="link">click this</a>

<h1>{{ number }}</h1>
<button (click)="inc()">increment</button>
<button (click)="dec()">decrement</button>

<h1 >{{ number }}</h1>
<input type="text" [(ngModel)]="number" />
<input type="text" [(ngModel)]="profile.firstName" />
<input type="text" [(ngModel)]="profile.lastName" />
-->

<!-- <p *ngIf="verify">directives</p>
@if(y===x){
<p>directive</p>
} -->
<!-- 
    // Before 
    <div *ngFor="let item of dataArray; index as i">
    <p>{{ i + 1 }} {{ item }}</p>
  </div> -->
@for (item of dataArray; track item) {
<p>{{ item }}</p>
}
<input type="number" [(ngModel)]="num" />

@switch (num) { @case (1) {
<div>First</div>
} @case (2) {
<div>Second</div>
} @case (3) {
<div>Third</div>
} }


<div class="'title'">Aymen mosrati</div>